body{
    background-color:red;
}
.main-container{
   background-color: blueviolet;
   width:600px;
   height:700px;
   position: relative;
    top:10px;
   left:150px;

}
img{
    position: relative;
    top:60px;
    left:20px;
    width:350px;
    height:250px;
}
img:hover{
    opacity:0.4;
}
p{
    color:white;
     margin-left:20px;
     margin-top:80px;
     font-size:1.5em; 
}
h1{
    background-color: aqua;
    border:2px solid blue;
    margin:20px 400px;
    padding:15px 0px;
    text-align: center;
}